@import "tailwindcss";

@theme {
	/* --color-*: initial; */

	--rgb-none: rgb(0, 0, 0);
	--rgb-full: rgb(255, 255, 255);

	--base-00: rgb(0, 0, 0);
	--base-05: rgb(14, 14, 14);
	--base-10: rgb(19, 19, 19);
	--base-15: rgb(22, 22, 22);
	--base-20: rgb(25, 25, 25);
	--base-25: rgb(31, 31, 31);
	--base-30: rgb(37, 37, 37);
	--base-35: rgb(51, 51, 51);
	--base-40: rgb(61, 61, 61);
	--base-45: rgb(72, 72, 72);
	--base-50: rgb(82, 82, 82);
	--base-60: rgb(99, 99, 99);
	--base-70: rgb(179, 179, 179);
	--base-80: rgb(191, 191, 191);
	--base-90: rgb(204, 204, 204);
	--base-100: rgb(218, 218, 218);

	--warning-1000: hsl(33, 100%, 10%);
	--warning-900: hsl(35, 100%, 15%);
	--warning-800: hsl(37, 100%, 27%);
	--warning-700: hsl(38.9, 100%, 39.9%);
	--warning-600: hsl(38.9, 100%, 55%);
	--warning-500: hsl(38.9, 100%, 62%);
	--warning-400: hsl(39, 100%, 72%);

	--destructive-1000: hsl(7, 80%, 10%);
	--destructive-900: hsl(8, 75%, 15%);
	--destructive-800: hsl(8, 70%, 20%);
	--destructive-700: hsl(9, 65%, 30%);
	--destructive-600: hsl(10, 60%, 40%);
	--destructive-500: hsl(10, 60%, 51%);
	--destructive-400: hsl(10, 70%, 60%);

	--success-1000: hsl(141, 20%, 5%);
	--success-900: hsl(141, 25%, 10%);
	--success-800: hsl(141, 30%, 20%);
	--success-700: hsl(141, 35%, 30%);
	--success-600: hsl(141, 40%, 40%);
	--success-500: hsl(141, 45%, 52%);
	--success-400: hsl(141, 50%, 60%);

	--color-scheme: dark;
	--accent-h: 259;
	--accent-s: 51%;
	--accent-l: 45%;

	--color-accent-hsl: var(--accent-h), var(--accent-s), var(--accent-l);
	--color-accent: hsl(var(--color-accent-hsl));
	--color-accent-1: hsl(
		calc(var(--accent-h) - 3),
		calc(var(--accent-s) * 1.07),
		calc(var(--accent-l) * 1.14)
	);
	--color-accent-2: hsl(
		calc(var(--accent-h) - 5),
		calc(var(--accent-s) * 1.2),
		calc(var(--accent-l) * 1.25)
	);

	--interactive-base: var(--base-25);
	--interactive-base-hover: var(--base-30);
	--interactive-accent-hsl: var(--color-accent-hsl);
	--interactive-accent: var(--color-accent-1);
	--interactive-accent-hover: var(--color-accent-2);

	--border-width: 1px;
	--background-primary: var(--base-00);
	--background-primary-alt: var(--base-10);
	--background-secondary: var(--base-15);
	--background-secondary-alt: var(--base-20);
	--background-modifier-gradient-1: linear-gradient(
		180deg,
		rgba(255, 255, 255, 0.05),
		rgba(255, 255, 255, 0)
	);
	--background-modifier-primary-form-field: var(--base-10);
	--background-modifier-secondary-form-field: var(--base-25);
	--background-modifier-border-width: var(--border-width);
	--background-modifier-border-color: var(--base-30);
	--background-modifier-border-hover: var(--base-35);
	--background-modifier-border-focus: var(--base-40);
	--background-modifier-box-shadow: rgba(0, 0, 0, 0.254);
	--background-modifier-error-hsl: var(--destructive-500);
	--background-modifier-error: var(--background-modifier-error-hsl);
	--background-modifier-error-hover: var(--destructive-400);
	--background-modifier-success-hsl: var(--success-500);
	--background-modifier-success: var(--background-modifier-success-hsl);

	--text-normal: var(--base-90);
	--text-muted: var(--base-60);
	--text-faint: var(--base-40);
	--text-on-accent: var(--rgb-full);
	--text-on-accent-inverted: var(--rgb-none);
	--text-error: var(--destructive-500);
	--text-warning: var(--warning-600);
	--text-success: var(--success-600);
	--text-accent: var(--color-accent-1);
	--text-accent-hover: var(--color-accent-2);
	--text-form-placeholder: var(--text-faint);

	--link-color: var(--text-accent);
	--link-color-hover: var(--text-accent-hover);
	--link-external-color: var(--text-accent);
	--link-external-color-hover: var(--text-accent-hover);

	--line-height-base: 1.5;
	--line-height-tight: 1.27;

	--modal-overlay-background: var(--background-primary);
	--modal-background: var(--background-primary-alt);
	--modal-border-width: var(--border-width);
	--modal-border-color: var(--base-30);

	--font-primary: "Satoshi-Variable", sans-serif;
	--font-secondary: "Roboto", sans-serif;

	--font-weight-sm: 400;
	--font-weight-md: 500;
	--font-weight-lg: 600;
	--font-weight-xl: 700;

	--font-xs: 12px;
	--font-sm: 13px;
	--font-md: 15px;
	--font-lg: 17px;
	--font-xl: 21px;
	--font-2xl: 26px;
	--font-3xl: 36px;
	--font-4xl: 46px;
	--font-5xl: 54px;
	--font-6xl: 62px;

	--radius-sm: 3px;
	--radius-md: 7px;
	--radius-lg: 11px;
	--radius-xl: 15px;
	--radius-full: 6.66rem;

	--layer-background: 1;
	--layer-sidebar: 10;
	--layer-header: 20;
	--layer-popup: 30;
	--layer-content: 40;
	--layer-modal: 50;
	--layer-notification: 60;
	--layer-menu: 65;
	--layer-tooltip: 70;
	--layer-dragging: 80;

	--input-shadow-1: inset 0 0.4px 0.5px 0.4px rgba(255, 255, 255, 0.1), 0 2px 4px rgba(0, 0, 0, 0.16),
		0 1px 1.6px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.22), 0 0 0 0 transparent;
	--input-shadow-2: inset 0 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.09), 0 2px 4px rgba(0, 0, 0, 0.18),
		0 1px 1.5px rgba(0, 0, 0, 0.15), 0 0 1px 0 transparent;
	--input-shadow-3: inset 0 0.6px 0.8px 0.6px rgba(255, 255, 255, 0.08), 0 2px 6px rgba(0, 0, 0, 0.19),
		0 1px 1.4px rgba(0, 0, 0, 0.16), 0 0 1px 0 transparent;
	--input-shadow-4: inset 0 0.7px 0.9px 0.7px rgba(255, 255, 255, 0.07), 0 2px 7px rgba(0, 0, 0, 0.2),
		0 1px 1.2px rgba(0, 0, 0, 0.18), 0 0 1px 0 transparent;

	--breakpoint-media-min-w-300: 300px;
	--breakpoint-media-min-w-350: 350px;
	--breakpoint-media-min-w-400: 400px;
	--breakpoint-media-min-w-450: 450px;
	--breakpoint-media-min-w-500: 500px;
	--breakpoint-media-min-w-550: 550px;
	--breakpoint-media-min-w-600: 600px;

	--media-min-h-500: "(min-height: 500px)";
	--media-min-h-550: "(min-height: 550px)";
	--media-min-h-600: "(min-height: 600px)";
	--media-min-h-650: "(min-height: 650px)";
	--media-min-h-700: "(min-height: 700px)";
	--media-min-h-750: "(min-height: 750px)";
	--media-min-h-800: "(min-height: 800px)";
	--media-min-h-850: "(min-height: 850px)";
	--media-min-h-900: "(min-height: 900px)";
	--media-min-h-950: "(min-height: 950px)";
	--media-min-h-1000: "(min-height: 1000px)";
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}

article,
aside,
details,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body {
	font-family: var(--font-primary);
	font-weight: 500;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	overscroll-behavior: none;
	scroll-behavior: smooth;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
}
